<%- include ('partials/header.ejs'); %>
<main class="container mx-auto px-5 pb-5">
    <section class="p-5 pt-4 bg-white">
        <h2 class="text-center my-4">Brazil</h2>
        <p>
          In Brazil Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. In, nisi. Alias fuga porro optio, fugiat voluptate et delectus
          labore aperiam esse modi magnam deleniti odit aspernatur! Quaerat velit
          sed dolore.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
          architectoquae quidem ratione odit quas illo nihil, cupiditate deleniti
          harumautem consequuntur accusantium facere porro numquam ipsam modi.
          Veritatis, nam? Lorem ipsum dolor sit, amet consectetur adipisicingelit.
          Doloribus veniam quia animi, accusantium vero iste iureconsectetur
          quaerat dicta nam beatae similique enim modi laborum minus et ut
          voluptate facilis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
          architectoquae quidem ratione odit quas illo nihil, cupiditate deleniti
          harumautem consequuntur tis, nam? Lorem ipsum dolor sit, amet consectetur adipisicingelit.
          Doloribus veniam quia animi, accusantium vero iste iureconsectetur
          quaerat dictaccusantium facere porro numquam ipsam modi.
          Veritatis, nam? Lorem ipsum dolor sit, amet consectetur adipisicingelit.
          Doloribus veniam quia animi, accusantium vero iste iureconsectetur
          quaerat dicta nam beatae similique enim modi laborum minus et ut
          voluptate facilis.
        </p>
        <div>
          <h3 class="mt-5 mb-4 text-center">Learn More on the links bellow</h2>
          <ul class="list-group mx-auto text-center w-75">
            <li class="list-group-item"><a href="">Government website</a>
            <p class="d-inline"> - loremccusantium vero iste
            quaerat dicta nam beatae</p></li>
            <li class="list-group-item"><a href="">Government website</a> 
            <p class="d-inline"> - loremccusantium vero iste
            quaerat dicta nam beatae</p></li>
            <li class="list-group-item"><a href="">Government website</a>
            <p class="d-inline"> - loremccusantium vero iste
            quaerat dicta nam beatae</p></li>
            <li class="list-group-item"><a href="">Government website</a>
            <p class="d-inline"> - loremccusantium vero iste
            quaerat dicta nam beatae</p></li>
            <li class="list-group-item"><a href="">Government website</a>
            <p class="d-inline"> - loremccusantium vero iste
            quaerat dicta nam beatae</p></li>
          </ul>
        </div>
        
        <div class="pb-4">
          <h3 class="mt-5 mb-4 text-center">Still have questions? Conact a lawyer</h2>
          <ul class="d-flex justify-content-between">
            <li class="card d-inline-block flex-fill">
            <a href="">
            <div class="card-body">
            <p class="card-title">Lawyer one</p>
            <p class="card-text">(22) 3232-232-32</p>
          </div>
            </a>
            </li>
            <li class="card d-inline-block flex-fill">
            <a href="">
            <div class="card-body">
            <p class="card-title">Lawyer two</p>
            <p class="card-text">(22) 3232-232-32</p>
          </div>
            </a>
            </li>
            <li class="card d-inline-block flex-fill">
            <a href="">
            <div class="card-body">
            <p class="card-title">Lawyer three</p>
            <p class="card-text">(22) 3232-232-32</p>
          </div>
            </a>
            </li>
            <li class="card d-inline-block flex-fill">
            <a href="">
            <div class="card-body">
            <p class="card-title">Lawyer four</p>
            <p class="card-text">(22) 3232-232-32</p>
          </div>
            </a>
            </li>
           
          </ul>
        </div>
        </section>
</main>
<%- include ('partials/footer.ejs'); %>
