<%- include ('partials/header.ejs'); %>
<main class="container mx-auto px-5 pb-5">
  <p class="py-5">
    Here you can find information about data protection law in diferent
    countries and regions. You can also find links to help you get deeper
    information.
  </p>
</main>
<%- include ('partials/footer.ejs'); %>
